if SOC_KENDRYTE_K210

config RISCV_ISA_EXT_D
	default y

config RISCV_ISA_EXT_F
	default y

config RISCV_SOC_INTERRUPT_INIT
	default y

config 2ND_LVL_ISR_TBL_OFFSET
	default 12

config 2ND_LVL_INTR_00_OFFSET
	default 11

config MAX_IRQ_PER_AGGREGATOR
	default 66

configdefault NUM_IRQS
	default 78

endif
